:root {
  --margin-size: min(100px, 7.5vw);
}

body {
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  margin-top: var(--margin-size);
  margin-bottom: var(--margin-size);
  font-family: "Computer Modern Serif";
  font-size: large;
  background-color: #b2e4f7
}

h1 {
    text-align: center;
    color: #0a267a;
    background-color: #b2e4f7

}

.katex {
  font-size: 1em !important;
}
